{% extends 'base.html' %}


{% block content %}

    <h2>
        change your profile photo
    </h2>
    <p>
        {% if request.user.profile_photo %}
            <img src="{{request.user.profile_photo.url}}" alt="{{request.user.username}}">
        {% else %}
            <p> no profile photo uploaded </p>
        {% endif %}

    </p>

    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" value="Change your photo">
    </form>

{% endblock content %}