{% extends 'base.html' %}

{% block content %}
    <p>
        welcome  {{  request.user }}
    </p>
    <hr />

    <div style="margin-top: 15px; margin-bottom: 15px;">
        <a href="{% url 'add-photo' %}">
            <button>
                Add a new photo
            </button>
        </a>
        <a href="{% url 'add-blog' %}">
            <button>
                Add a new blog
            </button>
        </a>
    </div>
    <div style="border: 2px solid black; padding: 5px;">
        {% for photo in photos %}
            <img width="100px" height="auto" src="{{ photo.image.url }}" alt="{{ photo.caption }}">
            <p>
                {{ photo.caption }}
            </p>
            <p>
                by : {{ photo.uploader }}
            </p>
            <p>
                {{ photo.date_created }}
            </p>
        {% endfor %}
    </div>

{% endblock  %}