{% extends 'base.html' %}

{% block content %}
    <p>
        welcome  {{  request.user }}
    </p>
    <hr />

    <div style="margin-top: 15px; margin-bottom: 15px;">
        <a href="{% url 'add-photo' %}">
            <button>
                Add a new photo
            </button>
        </a>
        <a href="{% url 'add-blog' %}">
            <button>
                Add a new blog
            </button>
        </a>
    </div>
    <div style="display: flex;">
        <div style="border: 2px solid black; padding: 5px; margin: 2px; flex: 50%;">
            <h2>Photo</h2>
            {% for photo in photos %}
                <img width="100px" height="auto" src="{{ photo.image.url }}" alt="{{ photo.caption }}">
                <p>
                    {{ photo.caption }}
                </p>
                <p>
                    by : {{ photo.uploader }}
                </p>
                <p>
                    {{ photo.date_created }}
                </p>
            {% endfor %}
        </div>

        <div style="flex: 50%; border: 2px solid black; padding: 5px; margin: 2px;">
            <h2>Blog</h2>
            {% for blog in blogs %}
                <div>
                    <a href="{% url 'single-blog-view' blog.id %}">
                        <h4>{{ blog.title }}</h4>
                        <img style="width: 200px; height: auto;" src="{{ blog.photo.image.url }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock  %}