{% extends 'base.html' %}


{% block content %}
    <div style="margin-bottom: 150px;">
        <h2>{{ blog.title }}</h2>
        <img src="{{ blog.photo.image.url }}">
        <p>{{ blog.photo.caption }}</p>
        <p>{{ blog.content }}</p>

        <h3 style="margin-top: 20px;">
            <a href="{% url 'edit-blog' blog.id %}">
                <button>
                    Edit
                </button>
            </a>
        </h3>
        <form method="post">
            {{ delete_form }}
            {% csrf_token %}
    
            <button type="submit">Delete</button>
        </form>
    </div>


{% endblock content %}